html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-opacity {
  opacity: 0;
}

.btn-add {
  position: absolute;
  bottom: 0;
  left: 0;
}


/** navigation **/

nav {
  margin-bottom: 40px;
}

.nav-wrapper .nav-header {
  font-size: 28px;
  margin: 0;
}


/** card, section **/

.section {
  margin-bottom: 0;
}

.card .card-content .card-title {
  line-height: 28px;
  margin-bottom: 25px;
}
.input-field {
  margin: 0;
}

/** list table **/

.striped {
  width: 100%;
}

.striped .collection-item:nth-child(odd) {
  background-color: #f2f2f2;
}

.striped .collection-item.highlighted {
  padding-left: 20px;
  background-color: #d1c4e9;
}

.left-star {
  visibility: hidden;
}

.striped .highlighted .left-star {
  display: block;
  visibility: visible;
}

.striped .collection-item:hover .right {
  display: block;
}

.striped .right {
  display: none;
  cursor: pointer;
}
